@model IEnumerable<Garant.Models.User>
@{
    Layout = "_Layout";
}

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Список пользователей</h1>
</div>
<br />
<table class="table">
    <tr><th>Email</th><th></th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>



<a style="margin-left:10px;" class="btn btn-sm btn-primary" asp-action="index" asp-controller="Roles">Список ролей</a>
<a class="btn btn-sm btn-primary" asp-action="Create">Добавить пользователя</a>

<br /><br /><br /><br />