@{
    Layout = "_Layout";
}


    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <hr>
            </div>
            <h2>Страница не найдена</h2>
            <p>Страница которую вы ищите может быть удалена.</p>

        </div>
    </div>



